.infoViewBox {
    background-color: rgba(39, 39, 39, 0.7);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(56, 56, 56);
    border-left: none;
    border-right: none;
    margin: 0 auto;
}

.eventInfo button{
    margin: 10px;
}  
