.eventSelectBox {
    color: white;
}

.regForm {
    display: grid;
    justify-content: center;
}

.imgInput {
    margin: auto;
}

.displayedImg {
    display: grid;
    justify-content: center;
    color: white;
}

.btn {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}