.shownList {
    border-top: solid 5px red;
    border-bottom: solid 5px red;
    display: grid;
    align-items: center;
    min-width: auto;
    color: white;;
}

.user {
    grid-template-columns: auto auto auto auto auto auto;
}

.event {
    
    grid-template-columns: auto auto auto auto auto
}

.shownList h2 {
    border-bottom: solid 5px red;;
}

.shownList li {
    font-size: 17px;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

.eventDropList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventDropList select {
    height: max-content;
    font-size: 20px;
}
  
  .form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9;
    width: 600px;
  }
  
  .form-container {
    width: fit-content;
    padding: 10px;
    background-color: rgb(32, 32, 32);
  }

  .form-container input {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container .psw {
    width: 100%;
  }