.events-box {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }
  
  .E-event{
    padding: 5px
  }

  .ER-event{
    display: grid;
    grid-template-columns: 10% 15% auto auto;
    align-items: center;
    padding: 5px
  }

  .E_T {
    border-bottom: none;
  }

  .E_L {
    border-right: none;
  }

  .E_B {
    border-top: none;
  }

  .reg-btn {
    height: 50px;
    width: 120px;
    color: #fff;
    background-color: #000;
  }